<html>
    <head>
        <title>About view</title>
    </head>
    <body>
        <h1>404! Page not found</h1>
        <h2>URL attempted: <%= urlAttempted %> </h2>
        <h2> Date:  <%= (new Date()).toDateString() %></h2>
    </body>
</html>

