<html>
    <head>
        <title>About view</title>
    </head>
    <body>
        <h1> About View</h1>
        <h2>Current user: <%= currentUser %></h2>
        <h2> Date:  <%= (new Date()).toDateString() %></h2>
    </body>
</html>